<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
    }
  </style>


  <body>
    
    <h1>Flight information</h1>
    <div>{{error}}</div>

    <table>
      <tr>
        <th>Flight Number</th>
        <th>Airline Name</th>
        <th>From City</th>
        <th>To City</th>
        <th>Jet Series</th>
      </tr>
      {% for item in flightlist %}
      <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td>{{item[4]}}</td>
        {% endfor %}
      </tr>
    </table>
    

  </body>


</html>