<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


  <body>
  
    <h1>Passenger List</h1>
    <!-- <div>{{userNames}}</div> -->

    <div>
      {% for n in userNames %}
      <div>{{n}}</div>
      {% endfor %}
    </div>

    <!-- <p><a href="/another">Go to the other page</a></p> -->

    <!-- <form method="POST" action="/ticket">
      <p>Name: <input type="text" name="userName"> Year of Birth: <input type="number" name="year"> <input type="submit" value="Search"></p>
    </form> -->

    <form class="form-inline" method="POST" action="/ticket">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Please select passenger: </span>
                <select name="name_select" class="selectpicker form-control">
                  {% for o in userNames %}
                  <option value="{{o}}">{{o}}</option>
                  {% endfor %}
                </select>
              <button type="submit" class="btn btn-default">Search</button>
        </div>
        
      </div>
    </form>

    

    <form class="form-inline" method="POST" action="/checkflight">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Please select from city and to city: </span>
                <select name="fromCity_select" class="selectpicker form-control">
                  {% for o in city %}
                  <option value="{{o}}">{{o}}</option>
                  {% endfor %}
                </select>

                <select name="toCity_select" class="selectpicker form-control">
                  {% for o in city %}
                  <option value="{{o}}">{{o}}</option>
                  {% endfor %}
                </select>
              <button type="submit" class="btn btn-default">Search</button>
        </div>
        
      </div>
    </form>



    <form class="form-inline" method="POST" action="/addlikeairline">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Please select passenger and airline to like: </span>
                <select name="userNames_like_select" class="selectpicker form-control">
                  {% for o in userNames %}
                  <option value="{{o}}">{{o}}</option>
                  {% endfor %}
                </select>

                <select name="airline_like_select" class="selectpicker form-control">
                  {% for o in airlines %}
                  <option value="{{o}}">{{o}}</option>
                  {% endfor %}
                </select>
              <button type="submit" class="btn btn-default">Like</button>
        </div>
        
      </div>
    </form>

    <form class="form-inline" method="POST" action="/deletelikeairline">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Please select passenger and airline to dislike: </span>
                <select name="userNames_dislike_select" class="selectpicker form-control">
                  {% for o in userNames %}
                  <option value="{{o}}">{{o}}</option>
                  {% endfor %}
                </select>

                <select name="airline_dislike_select" class="selectpicker form-control">
                  {% for o in airlines %}
                  <option value="{{o}}">{{o}}</option>
                  {% endfor %}
                </select>
              <button type="submit" class="btn btn-default">Dislike</button>
        </div>
        
      </div>
    </form>
    <form class="form-inline" method="POST" action="/showlikeairline">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Please input the Username to see the liked airline: </span>
                <select name="username" class="selectpicker form-control">
                  {% for o in userNames %}
                  <option value="{{o}}">{{o}}</option>
                  {% endfor %}
                </select>

          
              <button type="submit" class="btn btn-default">Search</button>
        </div>
        
      </div>
    </form>
  </form>
  <form class="form-inline" method="POST" action="/popularity">
    <p>Show the popularity of Airlines: <input type="submit" value="Show"></p>
      </div>
      
    </div>
  </form>
    

    <!-- <form method="POST" action="/add">
      <p>Add computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
    </form> -->
    

  </body>


</html>
